/*
=============== 
Footer
===============
*/
#footer {
  background: rgba(73, 40, 26, 1);
  background: var(--brown);
  background: rgba(171, 104, 50, 1);
  padding: 1rem;
  color: #d7cec7;
}

.footer__copyright {
  text-align: center;
  margin-bottom: 0;
  display: grid;
  place-items: center;
}

#footer a {
  color: #d7cec7;
}
@media screen and (max-width: 425px) {
  #footer {
    padding: 1rem 1.5rem;
  }
}
/* iPhone 5 - 320 X 568 */
@media screen and (max-width: 375px) {
  .footer__copyright {
    font-size: 0.675rem;
  }
}
