nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: #d7cec7;
  color: var(--brown);
  border-bottom: 1px solid var(--dim-white);
  display: flex;
  align-items: center;
  /* padding: 0 2rem; */
  padding-left: 2rem;
  padding-right: 1rem;
  z-index: 100;
}
li {
  list-style-type: none;
  transition: all 0.1s linear;
}
li,
a {
  cursor: pointer;
  color: var(--brown);
}
.nav__logo {
  flex: 5;
  display: flex;
  font-size: 1.75rem;
  text-transform: capitalize;
  color: var(--brown);
}
.nav__links ul {
  padding: 0;
  padding-top: 0.65rem;
  margin: 0;
  display: flex;
}
.nav__links li a {
  display: block;
  padding: 1rem 0.5rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.nav__links li a:hover {
  color: rgba(171, 104, 50, 0.98);
}
.cartIcon {
  display: flex;
  padding-bottom: 0.75rem;
}
nav svg {
  width: 1.5rem;
  fill: var(--brown);
}
.amount-container {
  position: relative;
  right: 0.9rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  box-shadow: var(--lightShadow);
  background: rgb(28, 24, 24);
  background: var(--brown);
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-amount {
  color: #d7cec7;
  margin-bottom: 0;
  font-size: 1rem;
}
#navLinks__cart a {
  padding: 0;
  margin: 0;
  /* padding-right: 4px; */
}
#navLinks__cart {
  display: flex;
  padding-top: 1rem;
  /* padding-left: 0.5rem; */
}

#login-text {
  display: none;
}
#login-btn {
  display: block;
}
#login-btn button {
  background-color: var(--brown);
  color: var(--clr-white);
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 200;
  padding: 0.45rem 0.875rem;
  margin-left: 0.875rem;
  margin-top: 1rem;
  /* border-radius: 5px; */
}
#login-btn button:hover {
  background-color: rgba(171, 104, 50, 0.98);
}
/* smaller screens nav header styles */
.toggle-btn {
  position: absolute;
  /* top: 0.75rem; */
  top: 0.975rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 17px;
  cursor: pointer;
}
.toggle-btn:hover .bar,
.toggle-btn:hover .bar:nth-child(2) {
  background-color: rgba(171, 104, 50, 0.98);
}
.toggle-btn .bar {
  width: 100%;
  height: 2px;
  background-color: var(--brown);
}
.toggle-btn .bar:nth-child(2) {
  width: 45%;
  margin: 0 auto;
  /* margin-right: 0; */
  background-color: var(--brown);
}
.nav__smallerScreenLogin,
.nav__basketIcon,
.nav__smallerScreenCart .p {
  position: absolute;
  top: 0.45rem;
  right: 7.75rem;
  cursor: pointer;
  font-size: 33px !important;
}
.nav__smallerScreenLogin {
  display: flex;
}
.nav__smallerScreenLogin > p {
  font-size: 12px;
  margin-top: 0.5rem;
}
.nav__loginIcon {
  font-size: 2rem !important;
}
.nav__basketIcon,
.nav__smallerScreenCart .p {
  right: 4.5rem;
}
.nav__smallerScreenCart .p {
  color: var(--clr-white) !important;
  font-size: 13px !important;
  top: 0.75rem;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: grid;
  place-items: center;
  border: 1px solid var(--dim-white);
  background-color: var(--brown);
}
/* end of smaller screens nav header styles */
@media screen and (min-width: 792px) {
  .nav__smallerScreenCart,
  .nav__smallerScreenLogin {
    display: none;
  }
  nav {
    height: 48px;
  }
}
@media screen and (max-width: 880px) {
  .nav__logo {
    font-size: 1.4rem;
  }
  .nav__links li a {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 792px) {
  .toggle-btn {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .nav__links {
    /* display: none; */
    display: flex;
    background-color: #d7cec7;
    margin: 0;
    width: 100%;
    transition: all 0.5s linear;
    transform: translateX(-100%);
  }
  .nav__links ul {
    width: 100%;
    flex-direction: column;
  }
  .nav__links ul li:hover {
    background-color: var(--dim-white);
  }
  .nav__links ul a {
    padding: 0.5rem;
    padding-left: 1.75rem;
  }
  .nav__logo {
    padding: 0.45rem 0;
    padding-left: 1rem;
  }
  .nav__links.active {
    /* display: flex; */
    transform: translateX(0);
  }
  nav svg {
    width: 1.5rem;
  }
  .amount-container {
    width: 1rem;
    height: 1rem;
  }
  .total-amount {
    font-size: 1.1rem;
  }
  #login-btn,
  #navLinks__cart {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .nav__logo {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 375px) {
  .nav__logo {
    font-size: 0.875rem;
    padding-left: 0.55rem;
    padding-top: 0.75rem;
  }
  .toggle-btn {
    top: 0.875rem;
    right: 0.65rem;
    width: 18px;
    height: 15px;
  }
  .toggle-btn .bar:nth-child(2) {
    margin: 0 auto;
  }
  .nav__basketIcon,
  .nav__smallerScreenCart .p {
    right: 2.75rem;
  }
  .nav__smallerScreenCart .p {
    font-size: 13px !important;
    top: 0.75rem;
    width: 20px;
    height: 20px;
  }
  .nav__smallerScreenLogin {
    right: 4.875rem;
  }
  .nav__loginIcon,
  .nav__basketIcon {
    font-size: 1.75rem !important;
  }
}
